main {
	width: 100%;
	max-width: 1200px;
}

.imagepositon{
  position: relative;
  float: right;
  display: block;
  height: 300px;
  width: 400px;
  clear: both;
  
    
}

aside{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 100%;
	width: 600px;
	margin: 25px;
	padding: 25px;
	border: 2px navy solid;
   
}

.logo{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
}
